<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-10/css/all.css" integrity="sha512-Dj9pt3sZROOuTTs9S89ykGZeu1XQgWKg3DVpu5tZALApsrWdd3tnVjTclUuVONaHM4O8GgCnjSbHlTKXrd2OWg==" crossorigin="anonymous" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="short cut icon" href="" type="">
</head>
<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="images/bg5.jpeg" alt="thapa" class="img-fluid" title="thapa technical">
                        </figure>
               
                          </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                         <h1>i am a <span class="text_clr"> Mern stack Developer </span> with Enthusiasm to learn </h1>
                         <a href="http://www.thapatechnical.com" target="-thapa"><button>about me</button></a>

                    </div> 
                  

                    </div>
                </div>
                </div>
        </div>
    </div>
    <footer>
        <p>Alright reserved by climate</p>
    </footer>


    
</body>
</html>